<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<body>
                       <li>
                            <a class="has-arrow" href="#" aria-expanded="false">
								   <i class="icon nalika-table icon-wrap"></i>
								   <span class="mini-click-non">사용자관리</span>
							</a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="" href="/customerList"><span class="mini-sub-pro">사용자리스트</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">
								   <i class="icon nalika-table icon-wrap"></i><span class="mini-click-non">카테고리관리</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Inbox" href="/categoryList"><span class="mini-sub-pro">카테고리리스트</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i>
                            <span class="mini-click-non">제품/판매관리</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="/productList"><span class="mini-sub-pro">제품리스트</span></a></li>
                                <li><a href="/selltimeList"><span class="mini-sub-pro">판매시각설정</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i> <span class="mini-click-non">주문관리</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="/orderList"><span class="mini-sub-pro">주문리스트</span></a></li>
                            </ul>
                        </li>
                    
</body>
</html>