<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoxenium.mapper.ProductMapper">

    <select id="selectProduct" parameterType="com.example.demoxenium.util.SearchDto" resultType="com.example.demoxenium.product.dto.Product">
        SELECT ID,PRODUCTNAME,THUMB,STATUS,AMOUNT,PRICE,CONTENT,SUMMARY,INDATE,MARKETTYPE,

        ( SELECT CATENAME FROM CATEGORY WHERE ID=(SELECT CATEID FROM CATEMAP WHERE ETCTABLE='PRODUCT' AND ETCID=A.ID)) CATENAME,
        if(((MARKETTYPE='기간판매' and ((select count(*) from SELLTIME where (select NOW() from dual)
        BETWEEN starttime and endtime)>0))

        OR

        MARKETTYPE='상시판매')='1','제품판매중','제품준비기간') STATE
        FROM PRODUCT A
        WHERE
        1=1

        <choose>
            <when test="keyword != null and keyword != '' and keyword == '쿠키'">
                and ID IN
                (
                SELECT ETCID FROM CATEMAP WHERE CATEID IN
                (SELECT ID FROM CATEGORY WHERE CATENAME=#{keyword} or CATENAME='서비스')
                )
            </when>
            <when test="keyword != null and keyword != ''">
                and ID IN
                (
                SELECT ETCID FROM CATEMAP WHERE CATEID IN
                (SELECT ID FROM CATEGORY WHERE CATENAME=#{keyword})
                )
            </when>
            <otherwise>

            </otherwise>
        </choose>

        ORDER BY ORDERNUM ASC

        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="count" parameterType="com.example.demoxenium.util.SearchDto" resultType="int">
        SELECT
        COUNT(*)
        FROM
        PRODUCT
        WHERE
        1=1

        <choose>
            <when test="keyword != null and keyword != '' and keyword == '쿠키'">
                and ID IN
                (
                SELECT ETCID FROM CATEMAP WHERE CATEID IN
                (SELECT ID FROM CATEGORY WHERE CATENAME=#{keyword} or CATENAME='서비스')
                )
            </when>
            <when test="keyword != null and keyword != ''">
                and ID IN
                (
                SELECT ETCID FROM CATEMAP WHERE CATEID IN
                (SELECT ID FROM CATEGORY WHERE CATENAME=#{keyword})
                )
            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>
    <select id="selectAvailAmount" resultType="int" parameterType="HashMap">
        SELECT amount FROM PRODUCT A
        WHERE
            STATUS='판매가능'
          AND
            ID=#{id}
    </select>
    <select id="checkAvailProductId" resultType="HashMap">
        SELECT id FROM PRODUCT A
        WHERE
            ((MARKETTYPE='기간판매' and ((select count(*) from SELLTIME where (select NOW() from dual)
                                                                              BETWEEN starttime and endtime)>0))
                OR
             MARKETTYPE='상시판매')
          AND
            STATUS='판매가능'
    </select>

    <select id="checkAmountProduct" parameterType="HashMap" resultType="HashMap">
        SELECT productname,amount FROM PRODUCT
        WHERE ID=#{id}
    </select>
</mapper>