<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
</style>
	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="../css/style.css"><!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="../css/animate.min.css">
</head>
<body>
<section id="header" class="header-one">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
              <h1 class="wow fadeIn" data-wow-delay="1.6s" style="text-transform: unset; font-family: 'Major Mono Display', monospace;">X e n i u M</h1>
              <h3 class="wow fadeInUp" data-wow-delay="1.9s">COFFEE & COOKIES</h3>
          </div>
			</div>

		</div>
	</div>		
</section>
</body>
</html>