<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="../css/style.css">
	<script>
		function productLocationChange(param){
			location.href = "/productList?keyword="+ encodeURI(param);
		}
		function contentsLocationChange(param){
			location.href = "/contentsList?keyword="+ encodeURI(param);
		}
</script>
</head>
<body>
 <!-- iso section -->

                  <ul class="filter-wrapper clearfix"  style="background-color: #fcf1e3;">
                           <li><a href="/aboutus" class="selected opc-main-bg">ABOUT US</a></li>
                           <li><a  onclick="productLocationChange('')" class="opc-main-bg">SHOP</a></li>
                           <!-- <li><a  onclick="productLocationChange('쿠키')" class="opc-main-bg">COOKIESHOP</a></li>
                           <li><a  onclick="productLocationChange('커피')" class="opc-main-bg">COFFEESHOP</a></li> -->
                           <!-- <li><a  onclick="contentsLocationChange('커피')" class="opc-main-bg" >COFFEE</a></li>
                           <li><a  onclick="contentsLocationChange('쿠키')" class="opc-main-bg" >COOKIE</a></li> -->
                           <li><a href="#" class="opc-main-bg" >COMMUNITY</a></li>

                      <th:block th:if="${session.id == null}">
                        <li><a href="/loginPage" class="opc-main-bg">LOGIN</a></li>
                        <li><a href="/signupPage" class="opc-main-bg">SIGNUP</a></li>
                          <th:block>

                              <th:block th:if="${session.id != null}">
                        <li><a href="/cartList" class="opc-main-bg">CART</a></li>
				         <li><a onclick="logout()">LOGOUT</a></li>
				         <li><a href="/changeInfo">MYPAGE</a></li>
				         <li><a href="/orderList">MYORDER</a></li>
                                  <th:block>

                   </ul>
 <script>
     function logout(){

         $.ajax({
             type : "POST",
             url : "/logout", //요청 할 URL
             success : function(data) {
                 //통신이 정상적으로 되었을때 실행 할 내용
                 if(data == 'success')    {
                     alert('로그아웃 성공하였습니다.');
                     location.href="/";
                 }else{
                     alert('이미 로그아웃 되어있습니다.');
                 }
             },
             error : function(data) {
                 alert('접속오류');
             }
         });

         return true;

     }

 </script>
</body>
</html>