<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<script>

		let token;

		$(function() {

			$("#signupButton").click(function(){

				let email=$("#signupEmail").val();
				let password=$("#signupPassword").val();
				let role=$("#signupRole").val();

				$.ajax({
					url:"sign-up",
					data:{"email":email,"password":password,"role":role},
					type:"POST",
					success:function(data){
							alert(JSON.stringify(data));
					}
				});
			});

			$("#loginButton").click(function(){

				let email=$("#loginEmail").val();
				let password=$("#loginPassword").val();

				$.ajax({
					url:"sign-in",
					data:{"email":email,"password":password},
					type:"POST",
					success:function(data){
						token=data.accessToken;
					}
				});
			});

			$("#testButton").click(function(){

				$.ajax({
					url:"hello",
					type:"GET"
					,beforeSend: function (xhr) {
						xhr.setRequestHeader("Content-type","application/json");
						xhr.setRequestHeader("Authorization","Bearer " + token);
					},
					success:function(data){
						alert(JSON.stringify(data));

					}
				});
			});
			$("#testAdminButton").click(function(){

				$.ajax({
					url:"helloAdmin",
					type:"GET"
					,beforeSend: function (xhr) {
						xhr.setRequestHeader("Content-type","application/json");
						xhr.setRequestHeader("Authorization","Bearer " + token);
					},
					success:function(data){
						alert(JSON.stringify(data));

					}
				});
			});
			$("#logout").click(function(){

				token="";
			});


		});


	</script>
</head>
<body>

<h1>회원가입</h1>
<input type="text" name="email" id="signupEmail">
<input type="password" name="password" id="signupPassword">
<input type="text" name="role" id="signupRole">
<input type="button" value="회원가입요청" id="signupButton">

<h1>회원로그인</h1>
<input type="text" name="email" id="loginEmail">
<input type="password" name="password" id="loginPassword">
<input type="button" value="회원로그인요청" id="loginButton">

<h1>테스트요청(user)</h1>
<input type="button" value="테스트요청" id="testButton">

<h1>테스트요청(admin)</h1>
<input type="button" value="테스트요청" id="testAdminButton">

<h1>로그아웃</h1>
<input type="button" value="로그아웃" id="logout">


</body>
</html>