
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { 
    margin: 0; 
    padding: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

#contentsWrap { 
    margin: 0 auto; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

body, code { 
    font: 0.75em 'Nanum Gothic',Verdana,Dotum,AppleGothic,sans-serif; 
    font-family: 'Roboto','Nanum Gothic',sans-serif; 
    color: #353535; 
    background: #fff; 
    line-height: 20px; 
    font-style: normal; 
    font-variant-caps: normal; 
    font-variant-ligatures: normal; 
    font-variant-numeric: normal; 
    font-variant-east-asian: normal; 
    font-weight: normal; 
    font-stretch: normal; 
    font-size: 0.75em; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(255, 255, 255);
} 

html.fp-enabled, .fp-enabled body { 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

html { 
    width: 100%; 
    height: 100%;
} 

#left { /* 
	background-color: white; */
	background-color: transparent;
    position: fixed; 
    z-index: 99; 
    width: 200px; 
    padding: 0 55px; 
    height: 100%; 
    font-family: 'Roboto',sans-serif; 
    font-size: 14px; 
    line-height: 28px; 
    color: #000; 
    -webkit-transition-duration: 0.3; 
    transition-duration: 0.3s; 
    padding-top: 0px; 
    padding-right: 55px; 
    padding-bottom: 0px; 
    padding-left: 55px;
} 

#logo  { 
    text-align: left; 
    margin-left: -25px; 
    margin-top: 50px; 
    opacity: 1; 
    -webkit-transition-duration: 0.3; 
    transition-duration: 0.3s;
} 

.slidemenulist  { 
    width: 150px; 
    font-weight: 700; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
    text-align: left;
} 

a { 
    text-decoration: none; 
    color: #000; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

a  { 
    text-decoration: none; 
    transition-duration: 0.2s; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

input, select, textarea { 
    font-size: 100%; 
    font-family: "µ¸¿ò",Dotum; 
    color: #353535; 
    vertical-align: middle; 
    font-family: 'Nanum Gothic',sans-serif;
} 

.search-bar  { 
    position: absolute; 
    bottom: 50px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0 auto; 
    padding: 0; 
    border-bottom: 1px solid #757575; 
    width: 150px; 
    font-size: 10px; 
    font-weight: 500; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(117, 117, 117);
} 

img, fieldset { 
    border: none; 
    vertical-align: top; 
    border-top-width: initial; 
    border-right-width: initial; 
    border-bottom-width: initial; 
    border-left-width: initial; 
    border-top-style: none; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

li { 
    list-style: none; 
    list-style-position: initial; 
    list-style-image: initial; 
    list-style-type: none;
} 

.snsicon  { 
    margin-top: 20px; 
    font-size: 0; 
    line-height: 0; 
    transition-duration: 0.2s;
} 

#log  { 
    text-align: left; 
    font-size: 11px; 
    margin-top: 20px; 
    font-weight: 500;
} 

.slidemenulist a  { 
    color: white; 
    display: inline-block; 
    width: 100%;
} 

.submenu  { 
    margin-left: 7px; 
    font-weight: 500; 
    font-size: 12px; 
    line-height: 20px; 
    margin-bottom: 4px;
} 

.snsicon img  { 
    margin-right: 10px; 
    opacity: 1;
} 

#log a , #log span  { 
    display: inline; 
    margin-right: 15px; 
    color: #545454;
} 

input[type="text"], input[type="password"] { 
    height: 18px; 
    line-height: 20px; 
    padding: 5px 4px; 
    border: 1px solid #eaeaea; 
    color: #000; 
    font-size: 12px; 
    padding-top: 5px; 
    padding-right: 4px; 
    padding-bottom: 5px; 
    padding-left: 4px; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(234, 234, 234); 
    border-right-color: rgb(234, 234, 234); 
    border-bottom-color: rgb(234, 234, 234); 
    border-left-color: rgb(234, 234, 234); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

.search-bar input[type="text"]  { 
    margin-right: 3px; 
    height: 20px; 
    padding: 0; 
    font-size: 12px; 
    color: #000; 
    width: 100px; 
    border: none; 
    background: transparent; 
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    border-top-width: initial; 
    border-right-width: initial; 
    border-bottom-width: initial; 
    border-left-width: initial; 
    border-top-style: none; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

.submenu a  { 
    color: #000;
} 

#listcontentWrap3 { 
    position: relative; 
    padding-left: 60px; 
    padding-right: 60px; 
    margin: 0 auto; 
    min-height: 600px; 
    padding: 50px 55px 30px 0; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto; 
    padding-top: 50px; 
    padding-bottom: 30px;
} 

#listcontent3 { 
    min-height: 600px; 
    margin-left: 260px;
} 

.scrollTop { 
    right: 30px; 
    position: absolute; 
    bottom: 30px; 
    font-size: 18px; 
    z-index: 99; 
    display: none;
} 

#wrap_dialog { 
    z-index: 9998; 
    display: none; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: #000; 
    opacity: .35;
} 

#bottom { 
    margin: 0 auto; 
    font-family: 'Roboto','Nanum Gothic',sans-serif; 
    font-size: 11px; 
    font-weight: 400; 
    line-height: 24px; 
    margin-top: 70px; 
    color: #000; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

div.layerProgress { 
    filter: alpha(opacity=40); 
    opacity: 0.4; 
    -moz-opacity: 0.4; 
    background-color: #999;
} 

#progressPaybarBackground { 
    position: absolute; 
    z-index: 99; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
} 

#progressPaybarView { 
    position: absolute; 
    z-index: 100; 
    top: 160px; 
    left: 20px; 
    width: 471px; 
    font-size: 12px;
} 

.bg-banner { 
    position: relative;
} 

.banner-title { 
    background: #f6f0eb; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(246, 240, 235);
} 

.banner-title { 
    font-size: 24px; 
    line-height: 100px; 
    text-align: center; 
    letter-spacing: 1px; 
    font-family: 'Lora',serif; 
    font-weight: 300; 
    color: #827c78;
} 

.inner, .inner_in { 
    -webkit-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
    box-sizing: border-box; 
    width: 1024px; 
    margin: 0 auto; 
    transition-duration: 0.3s; 
    transition-timing-function: ease-out; 
    transition-delay: 0s; 
    transition-property: all; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

#bottom .inner  { 
    padding-bottom: 70px; 
    margin: 0 55px 0 20px; 
    border-top: 1px solid #eaeaea; 
    padding-top: 70px; 
    margin-top: 0px; 
    margin-right: 55px; 
    margin-bottom: 0px; 
    margin-left: 20px; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(234, 234, 234);
} 

.fa, .fab, .fal, .far, .fas { 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased; 
    display: inline-block; 
    font-style: normal; 
    font-variant: normal; 
    text-rendering: auto; 
    line-height: 1; 
    font-variant-ligatures: normal; 
    font-variant-caps: normal; 
    font-variant-numeric: normal; 
    font-variant-east-asian: normal;
} 

.fa, .far, .fas { 
    font-family: "Font Awesome 5 Free";
} 

.fa, .fas { 
    font-weight: 900;
} 

.fa-arrow-up:before { 
    content: "\f062";
} 

#progressPaybarView .box  { 
    height: 180px; 
    background: url(https://img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif) 0 0 no-repeat; 
    background-image: url("https://img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif"); 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 

.cd-fixed-bg { 
    min-height: 100%; 
    height: 450px; 
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-position-x: center; 
    background-position-y: center;
} 

.cd-fixed-bg.cd-bg-1 { 
    background-image: url(https://your-palebluedot.com/web/upload/ga09/bg-about.jpg);
} 

.banner-text, a  { 
    color: #707272;
} 

.banner-text { 
    position: absolute; 
    top: 0; 
    left: 52%; 
    text-align: left; 
    width: 36%;
} 

.banner-box { 
    width: 100%; 
    overflow: hidden; 
    margin: 40px 0; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    margin-top: 40px; 
    margin-right: 0px; 
    margin-bottom: 40px; 
    margin-left: 0px;
} 

.company-img { 
    width: 100%;
} 

#bottom .copypadding1  { 
    float: left; 
    width: 19%;
} 

#bottom .copypadding2  { 
    float: left; 
    width: 23%;
} 

#bottom .copypadding3  { 
    float: left; 
    width: 20%;
} 

#bottom #link  { 
    font-size: 11px;
} 

#bottom .copypadding4  { 
    float: left;
} 

#bottom #company  { 

} 

#bottomcopyright { 
    margin-top: 50px; 
    font-weight: 400; 
    text-align: left; 
    font-size: 11px; 
    line-height: 15px;
} 

#progressPaybarView .box .graph  { 
    padding: 15px 0 0 0; 
    text-align: center; 
    padding-top: 15px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

#progressPaybarView .box .txt  { 
    text-align: center; 
    padding: 15px 0 0; 
    color: #555555; 
    padding-top: 15px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.img-banenr { 
    width: 102%; 
    padding: 40px 0; 
    display: flex; 
    padding-top: 40px; 
    padding-right: 0px; 
    padding-bottom: 40px; 
    padding-left: 0px;
} 

#bottom .logo  { 

} 

#bottom #cscenter #customer  { 

} 

#bottom #cscenter #bank  { 
    margin-top: 30px; 
    font-size: 11px;
} 

#joinbt-wrap { 
    z-index: 10; 
    position: absolute; 
    right: 0; 
    top: 0;
} 

#progressPaybarView .box .graph span  { 
    display: block; 
    text-align: center; 
    margin: 20px 0; 
    margin-top: 20px; 
    margin-right: 0px; 
    margin-bottom: 20px; 
    margin-left: 0px;
} 

.img-banenr > li  { 
    width: 49%; 
    float: left; 
    box-sizing: border-box; 
    font-size: 0;
} 

.img-banenr li.left  { 
    border-right: 1px solid #c2c2c2; 
    border-right-width: 1px; 
    border-right-style: solid; 
    border-right-color: rgb(194, 194, 194);
} 

.img-banenr li.left  { 
    padding: 0 2% 0 0; 
    padding-top: 0px; 
    padding-right: 2%; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.img-banenr li.right  { 
    border-left: 1px solid #c2c2c2; 
    border-left-width: 1px; 
    border-left-style: solid; 
    border-left-color: rgb(194, 194, 194);
} 

.img-banenr li.right  { 
    padding: 0 0 0 1.7%; 
    margin: 0 0 0 -1px; 
    position: relative; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 1.7%; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: -1px;
} 

#bottom a  { 
    transition-duration: 0.3s; 
    color: #000;
} 

#bottom #company .copytext  { 
    font-size: 11px;
} 

#joinbt { 
    border: 1px solid #000; 
    padding: 10px 0; 
    width: 120px; 
    text-align: center; 
    font-size: 13px; 
    font-weight: 500; 
    -webkit-transition-duration: 0.3; 
    transition-duration: 0.3s; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(0, 0, 0); 
    border-right-color: rgb(0, 0, 0); 
    border-bottom-color: rgb(0, 0, 0); 
    border-left-color: rgb(0, 0, 0); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    padding-top: 10px; 
    padding-right: 0px; 
    padding-bottom: 10px; 
    padding-left: 0px;
} 

.img-banenr li.left img  { 
    width: 100%;
} 

.img-banenr li.right > div  { 
    float: right; 
    width: 99%; 
    box-sizing: border-box; 
    min-height: 305px;
} 

.img-banenr li.right > div  { 
    background: #fff; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(255, 255, 255);
} 

.img-banenr .b-left  { 
    font-size: 26px; 
    line-height: 32px; 
    font-weight: bold;
} 

.img-banenr .left > div  { 
    float: left; 
    width: 50%; 
    box-sizing: border-box; 
    padding: 0 30px 0 0; 
    padding-top: 0px; 
    padding-right: 30px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

#bottom .logo img  { 
    height: 25px;
} 

#bottom #cscenter #customer .cs1  { 
    font-size: 15px; 
    padding-bottom: 3px;
} 

#bottom #cscenter #customer .cs2  { 
    font-size: 11px; 
    line-height: 20px;
} 

#bottom #cscenter #bank .bank1  { 
    line-height: 20px;
} 

#bottom #cscenter #bank .bank2  { 
    padding-top: 2px;
} 

#bottom #company .copytext span  { 
    font-size: 11px; 
    margin-right: 5px; 
    color: #565656;
} 

.img-banenr li.right p  { 
    line-height: 1.25rem; 
    font-size: 12px;
} 

.img-banenr .b-right strong  { 
    font-size: 14px; 
    line-height: 32px; 
    text-transform: uppercase;
} 

.img-banenr .b-right p , .img-banenr .b-right li  { 
    font-size: 12px; 
    line-height: 22px;
} 

.img-banenr .b-right p  { 
    margin: 0 0 20px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 20px; 
    margin-left: 0px;
} 

.img-banenr .b-right li  { 
    display: inline-block;
} 

@media (max-width : 750px) {
    #menuUp {display:block;}
    #left {display:none;}
    #header{padding-left: 0px;}
    #portfolio{padding-left: 0px;}
    #contact{padding-left: 0px;}
    #isoindex{padding-top: 150px;}
}
@media (min-width : 751px) {
    #menuUp {display:none;}
    #left {display:block;}
    #header{padding-left: 200px;}
    /* #portfolio{padding-left: 200px;} */
    #contact{padding-left: 200px;}
    #isoindex{width:44%;transform: translateX( 80% );text-align:right;}
   
}

#submenu1{
    max-height: 0px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
    
.moveani{
	max-height: 500px !important;
    transition: max-height 0.9s ease-in;
}


#submenu2{
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
    
#submenu5{
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
    
.fa-n:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'N';
}

li>a:hover{
	/* color:#ababab;
	 */
	color: #83413e;
}

#gender {
background: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
    height: 40px;
    width: 100%;
}
