<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>


ID : <input type="text" name="userId" id="userId"/> <br>
PW : <input type="password" name="password" id="password"/> <br>
이름 : <input type="text" name="name" id="name"/> <br>
나이 : <input type="number" name="age" id="age"/> <br>
전화번호 : <input type="tel" name="phone" id="phone"/> <br>
주소 : <input type="text" name="address" id="address"/> <br>

<button id="subButton">가입하기</button>

</body>

<script>





    $("#subButton").click(function(){

        let userId= $('#userId').val();
        let password= $('#password').val();
        let name= $('#name').val();
        let age= $('#age').val();
        let phone= $('#phone').val();
        let address= $('#address').val();

        $.ajax({
            url:'/signup',
            data:{
                userId:userId,
                password:password,
                name:name,
                age:age,
                phone:phone,
                address:address
            },
            type:'POST',
            success: function(response){

                if(response.code=='SUCCESS'){
                    alert('회원가입 성공');
                }else{
                    alert('회원가입 실패');
                }

            }



        });


    });


</script>
</html>