<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bitcointest.mapper.ContactMapper">

    <insert id="insertSubscribe" parameterType="HashMap">
        INSERT INTO subscribe
        (
            email
        )
        VALUES
            (
                #{email}
            )
    </insert>

    <insert id="insertContact" parameterType="HashMap">
        INSERT INTO contact
            (
                name
                ,email
                ,phone
                ,message
            )
        VALUES
            (
                #{name}
                ,#{email}
                ,#{phone}
                ,#{message}
            )
    </insert>

</mapper>